body {
  background-color: blanchedalmond;
  font-size: 30px;
  padding: 75%;
  margin: 80%;
}

.tartalom {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media screen and (max-width: 600px) {
  .tartalom {
    grid-template-columns: 100%;
  }
}
